<p><%= t('.greeting', user: @resource.email) %></p>

<p><%= t('.message_one') %></p>

<p><%= link_to t('.change'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>><%= t('.message_two') %></p>
<p>><%= t('.message_three') %></p>
