<div class="row justify-content-md-center mt-12">
  <div class="col col-md-8">
    <h3><%= t('.header') %></h3>

    <p>
      <%= link_to t('new_test'), new_admin_test_path %>
    </p>

    <table class="table table-bordered">
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.questions') %></th>
        <th colspan="4"><%= t('.actions') %></th>
      </tr>

      <%= render @tests %>
    </table>
  </div>
</div>
