<p>
  <strong><%= t('.header', title: @test.title) %></strong>
</p>

<p>
  <strong><%= t('.level', level: @test.level) %></strong>
</p>

<p><%= link_to t('.new_question'), new_admin_test_question_path(@test) %></p>

<ol>
  <%= render @test.questions %>
</ol>

<%= link_to t('edit'), edit_admin_test_path(@test) %>
<%= link_to t('back'), admin_tests_path %>
