<p>
  <strong>Title: <%= @test.title %></strong>
</p>

<p>
  <strong>Level: <%= @test.level %></strong>
</p>

<h2>Questions:</h2>

<p><%= link_to 'New question', new_test_question_path(@test) %></p>

<ol>
  <%= render partial: 'questions/question', collection: @test.questions %>
</ol>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
